<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
	<meta charset="UTF-8">
		<title>News and Reviews Scraper</title>
	</head>
	<body>
		<header class="header">
			<h1 class="headline">NANDO Scraper</h1>
			<a href="/scrapeit" class="button" id="scraper">Get The News!</a>
			<ul class="subnav">
				<li><a href="/" {{#if Home}} class="active" {{/if}}>Home</a></li>
				<li><a href="/news" {{#if savedDIV}} class="active" {{/if}}>Saved News</a></li>
			</ul>
		</header>
		{{{ body }}}
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script src="/public/app.js"></script>
	</body>
</html>
